@include exports('addons-bmrg-headerMenuUser') {
  .#{$prefix}--bmrg-header-menu-user {
    align-items: center;
    border-bottom: rem(1px) solid #4D5358;
    display: flex;
    padding: rem(16px);
    width: 100%;
  }

  .#{$prefix}--bmrg-header-menu-user__name {
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(18px);
    margin-left: rem(16px);
  }
}
