@include exports('addons-bmrg-dynamicFormik') {
  .#{$prefix}--bmrg-dynamic-formik {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    > * + * {
      margin-top: 1rem;
    }
  }
}
