@use "sass:map";
@use '@carbon/themes/scss/tokens' as theme;

$shell-tokens: (
  bmrg-primary: #161616,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #161616,
  bmrg-accent: #4589ff,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-background: #4589ff,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-hover-background: #343a3f,
  bmrg-header-menu-options-accent: #262626,
  bmrg-header-menu-options-active-background: #262626,
  bmrg-header-menu-options-top-border: #4589ff,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-notification-icon: #bb8eff,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-cancel: #b9bfc7,
  bmrg-header-modal-confirm: theme.$background-brand,
  bmrg-header-modal-link: theme.$background-brand,
  bmrg-header-nav: #161616,
  bmrg-header-modal-background: #161616,
  bmrg-header-button-text: theme.$text-inverse,
  bmrg-header-attachment-background: #50565b,
  bmrg-sidenav-active-background: #343a3f,
);
