@use "sass:map";
@use '@carbon/themes/scss/tokens' as theme;

$shell-tokens: (
  bmrg-primary: #161616,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #161616,
  bmrg-accent: #4589ff,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-menu-options-accent: #4589ff,
  bmrg-header-menu-options-active-background: #262626,
  bmrg-header-menu-options-top-border: #4589ff,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-link: #4589ff,
  bmrg-header-modal-background: #161616,
  bmrg-header-button-text: theme.$text-inverse,
  bmrg-theme-active: theme.$background-selected,
  bmrg-theme-background: theme.$background,
  bmrg-theme-primary: theme.$icon-primary,
  bmrg-theme-secondary: theme.$icon-secondary,
  bmrg-theme-border: #161616,
  bmrg-theme-hover: #c6c6c6,
  bmrg-theme-link: #c6c6c6,
  bmrg-theme-menu-border: 0.375rem solid theme.$background-active,
  bmrg-theme-active-icon: theme.$background-active,
  bmrg-theme-menu-background: theme.$background,
  bmrg-theme-menu-hover: theme.$layer-hover-01,
  bmrg-theme-modal-content: theme.$chat-prompt-background,
  bmrg-theme-accordion-hover: #474747,
  bmrg-theme-accordion-top-border: rgba(251, 252, 252, 0.1),
  bmrg-theme-submenu-background: theme.$field-hover-01,
  bmrg-theme-disabled: theme.$border-strong-02,
  bmrg-theme-loading-01: theme.$skeleton-background,
  bmrg-theme-loading-02: theme.$border-subtle-00,
);

$shell-white-tokens: (
  bmrg-primary: #161616,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #161616,
  bmrg-accent: #4589ff,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-menu-options-accent: #4589ff,
  bmrg-header-menu-options-active-background: #262626,
  bmrg-header-menu-options-top-border: #4589ff,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-link: #4589ff,
  bmrg-header-modal-background: #161616,
  bmrg-header-button-text: theme.$text-inverse,
  bmrg-theme-active: theme.$background-selected,
  bmrg-theme-background: theme.$background,
  bmrg-theme-primary: theme.$icon-primary,
  bmrg-theme-secondary: theme.$icon-secondary,
  bmrg-theme-border: #c6c6c6,
  bmrg-theme-hover: #c6c6c6,
  bmrg-theme-link: #c6c6c6,
  bmrg-theme-menu-border: 0.375rem solid theme.$background-active,
  bmrg-theme-active-icon: theme.$background-active,
  bmrg-theme-menu-background: theme.$background,
  bmrg-theme-menu-hover: theme.$layer-hover-01,
  bmrg-theme-modal-content: theme.$chat-prompt-background,
  bmrg-theme-accordion-hover: #c6c6c6,
  bmrg-theme-accordion-top-border: #c6c6c6,
  bmrg-theme-submenu-background: theme.$field-hover-01,
  bmrg-theme-disabled: theme.$border-strong-02,
  bmrg-theme-loading-01: theme.$skeleton-background,
  bmrg-theme-loading-02: theme.$border-subtle-00,
);
