@use "sass:map";
@use '@carbon/themes/scss/tokens' as theme;

$shell-tokens: (
  bmrg-primary: #161616,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #161616,
  bmrg-accent: #4589ff,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-menu-options-accent: #4589ff,
  bmrg-header-menu-options-active-background: #262626,
  bmrg-header-menu-options-top-border: #4589ff,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-link: #4589ff,
  bmrg-header-modal-background: #161616,
  bmrg-header-button-text: theme.$text-inverse,
  bmrg-theme-active: (141, 141, 141, 0.2),
  bmrg-theme-background: #161616,
  bmrg-theme-primary: #f4f4f4,
  bmrg-theme-secondary: #c6c6c6,
  bmrg-theme-border: #161616,
  bmrg-theme-hover: #c6c6c6,
  bmrg-theme-link: #c6c6c6,
  bmrg-theme-menu-border: 0.375rem solid #4589ff,
  bmrg-theme-active-icon: #4589ff,
  bmrg-theme-menu-background:#161616,
  bmrg-theme-menu-hover: #8d8d8d,
  bmrg-theme-modal-content: #ffffff,
  bmrg-theme-accordion-hover: #474747,
  bmrg-theme-accordion-top-border: rgba(251, 252, 252, 0.1),
  bmrg-theme-submenu-background: #333333,
  bmrg-theme-disabled: #8d8d8d,
);

$shell-white-tokens: (
  bmrg-primary: #161616,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #161616,
  bmrg-accent: #4589ff,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-menu-options-accent: #4589ff,
  bmrg-header-menu-options-active-background: #262626,
  bmrg-header-menu-options-top-border: #4589ff,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-link: #4589ff,
  bmrg-header-modal-background: #161616,
  bmrg-header-button-text: theme.$text-inverse,
  bmrg-theme-active: rgba(141, 141, 141, 0.2),
  bmrg-theme-background: #ffffff,
  bmrg-theme-primary: #161616,
  bmrg-theme-secondary: #525252,
  bmrg-theme-border: #c6c6c6,
  bmrg-theme-hover: #c6c6c6,
  bmrg-theme-link: #c6c6c6,
  bmrg-theme-menu-border: 0.0625rem solid #c6c6c6,
  bmrg-theme-active-icon: rgba(7, 7, 7, 0.2),
  bmrg-theme-menu-background: #f4f4f4,
  bmrg-theme-menu-hover: #e8e8e8,
  bmrg-theme-modal-content: #161616,
  bmrg-theme-accordion-hover: #c6c6c6,
  bmrg-theme-accordion-top-border: #c6c6c6,
  bmrg-theme-submenu-background: #e8e8e8,
  bmrg-theme-disabled: #8d8d8d,
);
