@use '@carbon/themes/scss/tokens' as theme;

$bmrg-primary: var(--cds-bmrg-primary);
$bmrg-secondary: var(--cds-bmrg-secondary);
$bmrg-tertiary: var(--cds-bmrg-tertiary);
$bmrg-accent: var(--cds-bmrg-accent);
$bmrg-brand-white: var(--cds-bmrg-brand-white);
$bmrg-header-active-background: var(--cds-bmrg-header-active-background);
$bmrg-header-active-text: var(--cds-bmrg-header-active-text);
$bmrg-header-hover-background: var(--cds-bmrg-header-hover-background);
$bmrg-header-menu-options-accent: var(--cds-bmrg-header-menu-options-accent);
$bmrg-header-menu-options-active-background: var(--cds-bmrg-header-menu-options-active-background);
$bmrg-header-menu-options-top-border: var(--cds-bmrg-header-menu-options-top-border);
$bmrg-header-notification-default: var(--cds-bmrg-header-notification-defaul);
$bmrg-header-notification-icon: var(--cds-bmrg-header-notification-icon);
$bmrg-header-modal-overlay: var(--cds-bmrg-header-modal-overlay);
$bmrg-header-modal-cancel: var(--cds-bmrg-header-modal-cancel);
$bmrg-header-modal-confirm: theme.$background-brand;
$bmrg-header-modal-link: var(--cds-bmrg-header-modal-link);
$bmrg-header-nav: var(--cds-bmrg-header-nav);
$bmrg-header-modal-background: var(--cds-bmrg-header-modal-background);
$bmrg-header-button-text: theme.$text-inverse;
$bmrg-header-attachment-background: var(--cds-bmrg-header-attachment-background);
$bmrg-sidenav-active-background: var(--cds-bmrg-sidenav-active-background);
$bmrg-active: var(--cds-bmrg-active, theme.$background-brand);
