/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use '@carbon/themes/scss/tokens' as theme;

$bmrg-primary: var(--cds-bmrg-primary);
$bmrg-secondary: var(--cds-bmrg-secondary);
$bmrg-tertiary: var(--cds-bmrg-tertiary);
$bmrg-accent: var(--cds-bmrg-accent);
$bmrg-brand-white: var(--cds-bmrg-brand-white);
$bmrg-header-active-text: var(--cds-bmrg-header-active-text);
$bmrg-header-hover-background: var(--cds-bmrg-header-hover-background);
$bmrg-header-menu-options-accent: var(--cds-bmrg-header-menu-options-accent);
$bmrg-header-menu-options-active-background: var(--cds-bmrg-header-menu-options-active-background);
$bmrg-header-menu-options-top-border: var(--cds-bmrg-header-menu-options-top-border);
$bmrg-header-notification-default: var(--cds-bmrg-header-notification-default);
$bmrg-header-modal-overlay: var(--cds-bmrg-header-modal-overlay);
$bmrg-header-modal-link: var(--cds-bmrg-header-modal-link);
$bmrg-header-modal-background: var(--cds-bmrg-header-modal-background);
$bmrg-active: var(--cds-bmrg-active, theme.$background-brand);
$bmrg-theme-active: var(--cds-bmrg-theme-active);
$bmrg-theme-background: var(--cds-bmrg-theme-background);
$bmrg-theme-primary: var(--cds-bmrg-theme-primary);
$bmrg-theme-secondary: var(--cds-bmrg-theme-secondary);
$bmrg-theme-border: var(--cds-bmrg-theme-border);
$bmrg-theme-hover: var(--cds-bmrg-theme-hover);
$bmrg-theme-link: var(--cds-bmrg-theme-link);
$bmrg-theme-menu-border: var(--cds-bmrg-theme-menu-border);
$bmrg-theme-active-icon: var(--cds-bmrg-theme-active-icon);
$bmrg-theme-menu-background: var(--cds-bmrg-theme-menu-background);
$bmrg-theme-menu-hover: var(--cds-bmrg-theme-menu-hover);
$bmrg-theme-modal-content: var(--cds-bmrg-theme-modal-content);
$bmrg-theme-accordion-hover: var(--cds-bmrg-theme-accordion-hover);
$bmrg-theme-accordion-top-border: var(--cds-bmrg-theme-accordion-top-border);
$bmrg-theme-submenu-background: var(--cds-bmrg-theme-submenu-background);
$bmrg-theme-disabled: var(--cds-bmrg-theme-disabled);
$bmrg-theme-loading-01: var(--cds-bmrg-theme-loading-01);
$bmrg-theme-loading-02: var(--cds-bmrg-theme-loading-02);
