@use '@carbon/themes/scss/tokens' as theme;
@use "../../styles/config" as *;

.#{$prefix}--bmrg-requests__title {
  color: theme.$text-on-color;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  margin-left: 1rem;

  &.#{$prefix}--bmrg-requests-empty__title {
    color: theme.$text-placeholder;
    font-weight: initial;
  }
}

.#{$prefix}--bmrg-requests__text {
  color: theme.$text-on-color;
  font-size: 0.825rem;
  line-height: 1.125rem;
  margin-left: 1rem;
}
