@use "../../global/config" as *;
@use '@carbon/themes/scss/tokens' as theme;
.#{$prefix}--bmrg-banner-container {
  left: 0;
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: 9998;
  .#{$prefix}--inline-notification {
    background: theme.$background-inverse;
    margin: 0;
    max-width: 100%;
  }
  .#{$prefix}--inline-notification__title {
    color: theme.$text-inverse;
  }
  .#{$prefix}--inline-notification__subtitle {
    color: theme.$text-inverse;
  }
  .#{$prefix}--inline-notification__close-icon {
    fill: theme.$text-inverse;
  }
}
