@include exports('addons-bmrg-memberBar') {
  .#{$prefix}--bmrg-member-bar {
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid $active-ui;
    cursor: pointer;
    display: flex;
    height: 3.56rem;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;

    &:hover {
      background-color: $active-ui;
    }

    &:focus {
      @include focus-outline();
    }
    &.#{$prefix}--bmrg-member-bar--detail {
      cursor: initial;
      &:hover {
        background-color: inherit;
      }
    }

    .bx--bmrg-avatar {
      path {
        fill: var(--cds-text-01);
      }
    }
  }

  .#{$prefix}--bmrg-member-bar__user {
    align-items: center;
    display: flex;
  }

  .#{$prefix}--bmrg-member-bar__data {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .#{$prefix}--bmrg-member-bar__name {
    color: $text-01;
    font-size: 0.87rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
  }

  .#{$prefix}--bmrg-member-bar__email {
    color: $text-02;
    font-size: 0.75rem;
    line-height: 0.93rem;
  }

  .#{$prefix}--bmrg-member-bar__close-icon {
    fill: $inverse-support-01;
    height: 1.25rem;
    width: 1.25rem;
  }
}
