@include exports('addons-bmrg-tabs') {
  .#{$prefix}--tabs--container ~ div {
    min-height: 320px;
    background-color: $ui-01;
  }

  .#{$prefix}--tabs--container.bx--tabs--light ~ div {
    background-color: $ui-background;
  }

  .tabs-story-wrapper--light {
    background-color: $ui-01;
  }

  .container-tabs-story-wrapper--light {
    padding: 2rem 1rem;
    background-color: $ui-01;
  }
}
