@use '@carbon/themes/scss/tokens' as theme;
@use "../../global/config" as *;
@use "../../global/utils";

.#{$prefix}--bmrg-error-message {
  color: theme.$text-primary;
  font-size: utils.rem(24px);
  font-weight: 600;
  line-height: utils.rem(32px);
  margin: 0 10%;
  text-align: center;
}

.#{$prefix}--bmrg-error-message__img {
  height: 8rem;
  width: 8rem;
  fill: theme.$background-brand;
}

.#{$prefix}--bmrg-error-message__text {
  margin: 1rem;
  font-size: utils.rem(24px);
  font-weight: 600;
  line-height: utils.rem(32px);
  text-align: center;
}

.#{$prefix}--bmrg-error-message__status {
  font-size: 1.25rem;
}

.#{$prefix}--bmrg-error-message__subtext {
  font-size: 1rem;
  line-height: utils.rem(20px);
  margin: utils.rem(10px);
}
