@include exports('addons-bmrg-radioGroup') {
  .#{$prefix}--bmrg-radio-group {
    position: relative;
    width: 100%;
  }

  .#{$prefix}--bmrg-radio-group__container {
    flex-wrap: wrap;
    //var defined at the component container div
    height: var(--height);
    width: 100%;
  }

  .#{$prefix}--bmrg-radio-group__title {
    display: flex;
    .#{$prefix}--label {
      margin-bottom: 0;
    }
  }

  .#{$prefix}--bmrg-radio-group__tooltip {
    line-height: 0;
    margin-left: 0.5rem;
  }
}
