/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
.#{$prefix}--bmrg-radio-group {
  position: relative;
  width: 100%;
}

.#{$prefix}--bmrg-radio-group__container > fieldset {
  display: grid;
  grid-column-gap: 1rem;
  //var defined at the component container div
  grid-template-columns: repeat(auto-fill, var(--height));
  margin-top: 1rem;
  width: 100%;
}

.#{$prefix}--radio-button-wrapper {
  align-items: flex-start;
  display: flex;
}

.#{$prefix}--radio-button__label {
  width: var(--height);

  > span + span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 1.875rem);
  }
}

.#{$prefix}--bmrg-radio-group__title {
  display: flex;
}

.#{$prefix}--bmrg-radio-group__tooltip {
  line-height: 0;
  margin-left: 0.5rem;
}
