// Theme maps
$carbon-addons-bmrg--theme-map--boomerang: (
  bmrg-primary-color: #061727,
  bmrg-secondary-color: #c0c7ce,
  bmrg-tertiary-color: #061727,
  bmrg-accent-color: #08bdba,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-background-color: #08bdba,
  bmrg-header-active-text-color: #f2f4f8,
  bmrg-header-hover-background-color: #343a3f,
  bmrg-header-menu-options-accent-color: #08bdba,
  bmrg-header-menu-options-active-background-color: #002b50,
  bmrg-header-menu-options-top-border-color: #08bdba,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-notification-icon: #bb8eff,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-cancel-color: #b9bfc7,
  bmrg-header-modal-confirm-color: #08bdba,
  bmrg-header-nav-color: #061727,
  bmrg-header-modal-background-color: #061727,
  bmrg-header-button-text-color: #272727,
  bmrg-header-attachment-background-color: #50565b,
  bmrg-sidenav-active-background-color: #343a3f,
) !default;

$carbon-addons-bmrg--theme-map--iap-dark: (
  bmrg-primary-color: #242a2e,
  bmrg-secondary-color: #f2f4f8,
  bmrg-tertiary-color: #50565b,
  bmrg-accent-color: #f2f4f8,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-background-color: #b9bfc7,
  bmrg-header-active-text-color: #fff,
  bmrg-header-hover-background-color: #3d3d3d,
  bmrg-header-hover-link-color: #20d5d2,
  bmrg-header-menu-options-accent-color: #b9bfc7,
  bmrg-header-menu-options-active-background-color: #242a2e,
  bmrg-header-menu-options-top-border-color: #b8c1c1,
  bmrg-header-notification-default: #fff,
  bmrg-header-notification-icon: #ee538b,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-alternate-color: #b9bfc7,
  bmrg-header-modal-cancel-color: #b9bfc7,
  bmrg-header-modal-confirm-color: #20d5d2,
  bmrg-header-nav-color: #242a2e,
  bmrg-header-modal-background-color: #242a2e,
  bmrg-header-button-text-color: #242a2e,
  bmrg-header-attachment-background-color: #1b2834,
  bmrg-sidenav-active-background-color: #3d3d3d,
) !default;

$carbon-addons-bmrg--theme-maps: (
  iap-dark: $carbon-addons-bmrg--theme-map--iap-dark,
  boomerang: $carbon-addons-bmrg--theme-map--boomerang,
);

@mixin carbon-addons-bmrg--theme-mixin($carbon-addons-bmrg-theme) {
  // Set default theme;
  $theme: map-get($carbon-addons-bmrg--theme-maps, $carbon-addons-bmrg-theme);

  $bmrg-primary-color: map-get($theme, bmrg-primary-color) !global;
  $bmrg-secondary-color: map-get($theme, bmrg-secondary-color) !global;
  $bmrg-tertiary-color: map-get($theme, bmrg-tertiary-color) !global;
  $bmrg-accent-color: map-get($theme, bmrg-accent-color) !global;
  $bmrg-brand-white: map-get($theme, bmrg-brand-white) !global;
  $bmrg-header-active-background-color: map-get(
    $theme,
    bmrg-header-active-background-color
  ) !global;
  $bmrg-header-active-text-color: map-get($theme, bmrg-header-active-text-color) !global;
  $bmrg-header-hover-background-color: map-get($theme, bmrg-header-hover-background-color) !global;
  $bmrg-header-hover-link-color: map-get($theme, bmrg-header-hover-link-color) !global;
  $bmrg-header-menu-options-accent-color: map-get(
    $theme,
    bmrg-header-menu-options-accent-color
  ) !global;
  $bmrg-header-menu-options-active-background-color: map-get(
    $theme,
    bmrg-header-menu-options-active-background-color
  ) !global;
  $bmrg-header-menu-options-top-border-color: map-get(
    $theme,
    bmrg-header-menu-options-top-border-color
  ) !global;
  $bmrg-header-notification-default: map-get($theme, bmrg-header-notification-default) !global;
  $bmrg-header-notification-icon: map-get($theme, bmrg-header-notification-icon) !global;
  $bmrg-header-modal-overlay: map-get($theme, bmrg-header-modal-overlay) !global;
  $bmrg-header-modal-cancel-color: map-get($theme, bmrg-header-modal-cancel-color) !global;

  $bmrg-header-modal-confirm-color: map-get($theme, bmrg-header-modal-confirm-color) !global;
  $bmrg-header-nav-color: map-get($theme, bmrg-header-nav-color) !global;
  $bmrg-header-modal-background-color: map-get($theme, bmrg-header-modal-background-color) !global;
  $bmrg-header-button-text-color: map-get($theme, bmrg-header-button-text-color) !global;
  $bmrg-header-attachment-background-color: map-get(
    $theme,
    bmrg-header-attachment-background-color
  ) !global;
  $bmrg-sidenav-active-background-color: map-get(
    $theme,
    bmrg-sidenav-active-background-color
  ) !global;

  @content;
}
