@use "sass:map";
@use "../config" as *;

// Global overrides
// https://www.carbondesignsystem.com/guidelines/themes#global
$input-border: 1px solid transparent;
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 0.25rem;
$accordion-title-margin: 0 0 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;
$button-border-radius: 0.25rem;

/// Boomerang's default color theme
/// @type Map
/// @access public
/// @group @boomerang/carbon-addons-boomerang
$theme: (
  field-01: #ffffff,
  field-02: #f2f4f8,
  icon-primary: #121619,
  icon-secondary: #4d5358,
  icon-on-color: #ffffff,
  button-primary: #0072c3,
  button-secondary: #343a3f,
  button-tertiary: #0072c3,
  border-interactive: #0072c3,
  interactive: #0072c3,
  icon-inverse: #ffffff,
  inverse-02: #343a3f,
  inverse-support-01: #fa4d56,
  inverse-support-02: #08bdba,
  inverse-support-03: #f1c21b,
  inverse-support-04: #1192e8,
  link-01: #0072c3,
  overlay-01: rgba(18, 22, 25, 0.5),
  support-01: #da1e28,
  support-02: #009d9a,
  support-03: #f1c21b,
  support-04: #00539a,
  text-01: #121619,
  text-02: #4d5358,
  text-03: #878d96,
  text-04: #ffffff,
  layer-01: #ffffff,
  layer-02: #f2f4f8,
  layer-accent-01: #dde1e6,
  border-subtle-01: #dde1e6,
  toggle-off-04: #878d96,
  border-strong-01: #878d96,
  border-inverse-05: #121619,
  layer-selected-inverse: #121619,
  background: #f2f4f8,
  active-01: #bebebe,
  active-danger: #750e13,
  active-primary: #003a6d,
  active-secondary: #697077,
  active-tertiary: #003a6d,
  active-ui: #c1c7cd,
  disabled-01: #ffffff,
  disabled-02: #c1c7cd,
  disabled-03: #878d96,
  focus: #0072c3,
  highlight: #e5f6ff,
  hover-danger: #da1e28,
  hover-primary: #0072c3,
  hover-primary-text: #00539a,
  hover-field: #f3f3f3,
  hover-row: #dde1e6,
  hover-secondary: #4d5358,
  hover-selected-ui: #c1c7cd,
  hover-tertiary: #0072c3,
  hover-ui: #dde1e6,
  inverse-focus-ui: #ffffff,
  inverse-hover-ui: #4d5358,
  selected-ui: #dde1e6,
  skeleton-background: #f2f4f8,
  skeleton-element: #c1c7cd,
  link-visited: #8a3ffc,
);
