@use "sass:map";
@use "../config" as *;

/// Boomerang's default color theme
/// @type Map
/// @access public
/// @group @boomerang/carbon-addons-boomerang
$v11-tokens: (
  field-01: #ffffff,
  field-02: #f2f4f8,
  icon-primary: #121619,
  icon-secondary: #4d5358,
  icon-on-color: #ffffff,
  background-brand: #0072c3,
  button-primary: #0072c3,
  button-secondary: #343a3f,
  button-tertiary: #0072c3,
  border-interactive: #0072c3,
  interactive: #0072c3,
  icon-inverse: #ffffff,
  background-inverse: #343a3f,
  support-error-inverse: #fa4d56,
  support-success-inverse: #08bdba,
  support-warning-inverse: #f1c21b,
  support-info-inverse: #1192e8,
  link-primary: #0072c3,
  overlay: rgba(18, 22, 25, 0.5),
  support-error: #da1e28,
  support-success: #009d9a,
  support-warning: #f1c21b,
  support-info: #00539a,
  text-primary: #121619,
  text-secondary: #4d5358,
  text-placeholder: #878d96,
  text-on-color: #ffffff,
  layer-01: #ffffff,
  layer-02: #f2f4f8,
  layer-accent-01: #dde1e6,
  border-subtle-01: #dde1e6,
  toggle-off-04: #878d96,
  border-strong-01: #878d96,
  border-inverse-05: #121619,
  layer-selected-inverse: #121619,
  background: #f2f4f8,
  active-01: #bebebe,
  button-danger-active: #750e13,
  button-primary-active: #003a6d,
  button-secondary-active: #697077,
  button-tertiary-active: #003a6d,
  layer-active-01: #c1c7cd,
  background-active: #c1c7cd,
  layer-accent-active-01: #c1c7cd,
  border-subtle-selected-01: #c1c7cd,
  text-disabled: #c1c7cd,
  icon-disabled: #c1c7cd,
  button-disabled: #c1c7cd,
  border-disabled: #c1c7cd,
  icon-on-color-disabled: #878d96,
  layer-selected-disabled: #878d96,
  text-on-color-disabled: #878d96,
  focus: #0072c3,
  highlight: #e5f6ff,
  button-danger-hover: #da1e28,
  button-primary-hover: #0072c3,
  link-primary-hover: #00539a,
  hover-field: #f3f3f3,
  button-secondary-hover: #4d5358,
  background-selected-hover: #c1c7cd,
  button-tertiary-hover: #0072c3,
  background-hover: #dde1e6,
  layer-hover-01: #dde1e6,
  field-hover-01: #dde1e6,
  field-hover-02: #dde1e6,
  focus-inverse: #ffffff,
  background-inverse-hover: #4d5358,
  layer-selected-01: #dde1e6,
  background-selected: #dde1e6,
  skeleton-background: #f2f4f8,
  skeleton-element: #c1c7cd,
  link-visited: #8a3ffc,
  border-radius: 0.25rem,
);

$v10-tokens: (
  field-01: #ffffff,
  field-02: #f2f4f8,
  icon-01: #121619,
  icon-02: #4d5358,
  icon-03: #ffffff,
  interactive-01: #0072c3,
  interactive-02: #343a3f,
  interactive-03: #0072c3,
  interactive-04: #0072c3,
  inverse-01: #ffffff,
  inverse-02: #343a3f,
  inverse-support-01: #fa4d56,
  inverse-support-02: #08bdba,
  inverse-support-03: #f1c21b,
  inverse-support-04: #1192e8,
  link-01: #0072c3,
  overlay-01: rgba(18, 22, 25, 0.5),
  support-01: #da1e28,
  support-02: #009d9a,
  support-03: #f1c21b,
  support-04: #00539a,
  text-01: #121619,
  text-02: #4d5358,
  text-03: #878d96,
  text-04: #ffffff,
  ui-01: #ffffff,
  ui-02: #f2f4f8,
  ui-03: #dde1e6,
  ui-04: #878d96,
  ui-05: #121619,
  ui-background: #f2f4f8,
  active-01: #bebebe,
  active-danger: #750e13,
  active-primary: #003a6d,
  active-secondary: #697077,
  active-tertiary: #003a6d,
  active-ui: #c1c7cd,
  disabled-01: #ffffff,
  disabled-02: #c1c7cd,
  disabled-03: #878d96,
  focus: #0072c3,
  highlight: #e5f6ff,
  hover-danger: #da1e28,
  hover-primary: #0072c3,
  hover-primary-text: #00539a,
  hover-field: #f3f3f3,
  hover-row: #dde1e6,
  hover-secondary: #4d5358,
  hover-selected-ui: #c1c7cd,
  hover-tertiary: #0072c3,
  hover-ui: #dde1e6,
  inverse-focus-ui: #ffffff,
  inverse-hover-ui: #4d5358,
  selected-ui: #dde1e6,
  skeleton-01: #f2f4f8,
  skeleton-02: #c1c7cd,
  visited-link: #8a3ffc,
);

$v11-button-tokens: (
  button-primary: #0072c3,
  button-secondary: #343a3f,
  button-tertiary: #0072c3,
  button-danger-active: #750e13,
  button-primary-active: #003a6d,
  button-secondary-active: #697077,
  button-tertiary-active: #003a6d,
  button-disabled: #c1c7cd,
  button-danger-hover: #da1e28,
  button-primary-hover: #0072c3,
  button-secondary-hover: #4d5358,
  button-tertiary-hover: #0072c3,
);

$shell-tokens: (
  bmrg-primary: #061727,
  bmrg-secondary: #c0c7ce,
  bmrg-tertiary: #061727,
  bmrg-accent: #08bdba,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-background: #08bdba,
  bmrg-header-active-text: #f2f4f8,
  bmrg-header-hover-background: #343a3f,
  bmrg-header-menu-options-accent: #343a3f,
  bmrg-header-menu-options-active-background: #002b50,
  bmrg-header-menu-options-top-border: #08bdba,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-notification-icon: #bb8eff,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-cancel: #b9bfc7,
  bmrg-header-modal-confirm: #08bdba,
  bmrg-header-modal-link: #08bdba,
  bmrg-header-nav: #061727,
  bmrg-header-modal-background: #061727,
  bmrg-header-button-text: #272727,
  bmrg-header-attachment-background: #50565b,
  bmrg-sidenav-active-background: #343a3f,
  bmrg-active: #009d9a
);

$theme: map.merge($v11-tokens, $v10-tokens);
