@use "sass:map";
@use '@carbon/themes/scss/tokens' as theme;

$shell-tokens: (
  bmrg-primary-color: #161616,
  bmrg-secondary-color: #c0c7ce,
  bmrg-tertiary-color: #161616,
  bmrg-accent-color: theme.$background-brand,
  bmrg-brand-white: #f2f4f8,
  bmrg-header-active-background-color: theme.$background-brand,
  bmrg-header-active-text-color: #f2f4f8,
  bmrg-header-hover-background-color: #343a3f,
  bmrg-header-menu-options-accent-color: #262626,
  bmrg-header-menu-options-active-background-color: #262626,
  bmrg-header-menu-options-top-border-color: theme.$background-brand,
  bmrg-header-notification-default: #9fa5ad,
  bmrg-header-notification-icon: #bb8eff,
  bmrg-header-modal-overlay: rgba(39, 39, 39, 0.5),
  bmrg-header-modal-cancel-color: #b9bfc7,
  bmrg-header-modal-confirm-color: theme.$background-brand,
  bmrg-header-modal-link-color: theme.$background-brand,
  bmrg-header-nav-color: #161616,
  bmrg-header-modal-background-color: #161616,
  bmrg-header-button-text-color: theme.$text-inverse,
  bmrg-header-attachment-background-color: #50565b,
  bmrg-sidenav-active-background-color: #343a3f,
);
