// Create global css properties
@mixin carbon-addons-bmrg--create-properties($carbon-addons-bmrg--property-prefix: --cds-) {
  @if ($carbon-addons-bmrg--create-properties == true) {
    :root {
      @each $name, $variable in $carbon--theme {
        // Only create properties for non-map objects. Some theme tokens are maps in the default themes that we merge with
        @if type-of($variable) != map {
          #{$carbon-addons-bmrg--property-prefix}#{$name}: $variable;
        }
      }
    }
  }
}

// Some additional overrides to carbon base styles
// add :root to have a higher level of specificity and not rely in import order
@mixin carbon-addons-bmrg--carbon-overrides() {
  a {
    color: $interactive-01;
    font-size: rem(14px);
    letter-spacing: 0;
    line-height: rem(18px);
  }

  :root {
    button,
    html [type='button'],
    [type='reset'],
    [type='submit'] {
      appearance: none;
    }

    .#{$prefix}--skeleton {
      .#{$prefix}--data-table-header,
      .#{$prefix}--table-toolbar {
        display: none;
      }
    }

    .#{$prefix}--form-item {
      .#{$prefix}--text-input,
      .#{$prefix}--text-area,
      .#{$prefix}--number input[type='number'] {
        border: none;
        border-bottom: none;
        border-radius: rem(4px);
      }
    }

    .#{$prefix}--date-picker__input,
    .#{$prefix}--dropdown,
    .#{$prefix}--dropdown-text,
    .#{$prefix}--overflow-menu-options,
    .#{$prefix}--select-input,
    .#{$prefix}--search .#{$prefix}--search-input,
    .#{$prefix}--list-box,
    .#{$prefix}--list-box input[role='combobox'],
    .#{$prefix}--list-box__field[aria-expanded='true'],
    .#{$prefix}--list-box__field,
    .#{$prefix}--text-area,
    .#{$prefix}--text-input {
      border: none;
      border-radius: rem(4px);
    }

    .#{$prefix}--text-area__wrapper {
      width: 100%;
    }

    .#{$prefix}--form-requirement {
      color: $support-01;
      &::before {
        content: '';
      }
    }

    .#{$prefix}--label,
    .#{$prefix}--list-box__label {
      color: $text-01;
      font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .#{$prefix}--modal-container {
      border-radius: rem(4px);
    }

    .#{$prefix}--modal-footer {
      border-bottom-right-radius: rem(4px);
      border-bottom-left-radius: rem(4px);
      .#{$prefix}--btn {
        border-radius: 0;

        &:first-child {
          border-bottom-left-radius: rem(4px);
        }

        &:last-child {
          border-bottom-right-radius: rem(4px);
        }

        &:last-child:first-child {
          border-bottom-left-radius: 0;
        }
      }
    }

    .#{$prefix}--search--xl {
      .#{$prefix}--search-input,
      .#{$prefix}--search-close {
        height: 2.5rem;
      }
    }

    .#{$prefix}--btn--field {
      height: 2.5rem;
      min-height: 2.5rem;
    }

    .#{$prefix}--checkbox-label::before {
      border-radius: 0.15rem;
    }

    .#{$prefix}--checkbox:checked:focus + .#{$prefix}--checkbox-label:before,
    .#{$prefix}--checkbox:focus + .#{$prefix}--checkbox-label:before {
      border-color: #005d5d;
    }

    .#{$prefix}--checkbox:checked + .#{$prefix}--checkbox-label::before {
      background-color: $support-02;
      border-color: $support-02;
    }

    .#{$prefix}--list-box--expanded .#{$prefix}--list-box__menu {
      max-height: 24rem;
    }

    .#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition {
      border-bottom: none;
    }

    .#{$prefix}--tag {
      font-size: 0.75rem;
    }

    .#{$prefix}--side-nav__item--large.#{$prefix}--side-nav__submenu {
      height: 3rem;
    }

    // DataTable Overrides
    .#{$prefix}--data-table:not(.#{$prefix}--skeleton)
      th:first-of-type:not(.#{$prefix}--table-expand):not(.#{$prefix}--table-column-checkbox) {
      padding-left: 0;
    }

    .#{$prefix}--data-table .#{$prefix}--table-header-label {
      padding: 0.875rem 1rem;
    }

    .#{$prefix}--table-sort {
      padding: 0 1rem 0 0;
    }

    .#{$prefix}--data-table:not(.#{$prefix}--skeleton) th:not(.#{$prefix}--table-column-checkbox) {
      padding: 0;
    }

    .#{$prefix}--data-table td {
      max-width: 20rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
