@use '@carbon/themes/scss/tokens' as theme;
@use '../../global/themes/shell-tokens' as shell;
@use "../../global/config" as *;
@use "../../global/utils";

.#{$prefix}--bmrg-signout-container {
  .#{$prefix}--modal-container {
    height: utils.rem(226px);
    width: utils.rem(500px);
  }

  .#{$prefix}--modal-content {
    margin-bottom: 0.5rem;
  }

  .#{$prefix}--bmrg-signout {
    margin-top: 1rem;
    margin-bottom: 2rem;
    &__message {
      color: shell.$bmrg-theme-primary;
      font-size: utils.rem(14px);
      line-height: utils.rem(18px);
    }
  }

  .#{$prefix}--btn {
    &.#{$prefix}--btn--primary {
      min-width: 50%;
    }

    &.#{$prefix}--btn--secondary {
      max-width: 50%;
    }
  }
}

.#{$prefix}--bmrg-sign-out-button {
  .#{$prefix}--bmrg-header-menu-item__text {
    color: theme.$support-error !important;
    svg {
      color: theme.$support-error;
    }
  }
}
