@include exports('addons-bmrg-headerMenuItem') {
  .#{$prefix}--bmrg-header-menu-item {
    height: rem(40px);
    width: rem(210px);
    background-color: $bmrg-tertiary-color;
    border: rem(1px) solid transparent;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;

    &:hover {
      background: $bmrg-header-hover-background-color;
      span {
        color: $bmrg-header-active-text-color;
      }
    }
    &:active {
      background: $bmrg-header-hover-background-color;
    }

    &:focus {
      outline: rem(2px) solid $bmrg-header-active-text-color !important;
      box-shadow: none;
    }
  }

  .#{$prefix}--bmrg-header-menu-item__content {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }

  .#{$prefix}--bmrg-header-menu-item__img {
    line-height: 0;
    width: 1.5rem;
    svg {
      fill: $bmrg-secondary-color;
    }
  }

  .#{$prefix}--bmrg-header-menu-item__text {
    align-items: center;
    color: $bmrg-secondary-color;
    display: flex;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(18px);
    margin-left: rem(8px);
  }
}
