@include exports('addons-bmrg-feature-sidenav-link') {
  .#{$prefix}--bmrg-feature-sidenav-link {
    align-items: center;
    border-left: transparent 0.25rem solid;
    color: $text-02;
    cursor: pointer;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    &:focus {
      outline-offset: -0.125rem !important;
      outline: 0.125rem solid $support-02 !important;
    }
    &.#{$prefix}--bmrg-feature-sidenav-active-link {
      background-color: $selected-ui;
      border-left-color: $support-02;
      color: $text-01;
      svg {
        fill: initial;
      }
    }
    svg {
      fill: $text-02;
    }
  }
  .#{$prefix}--bmrg-feature-sidenav-link-content {
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }
  .#{$prefix}--bmrg-feature-sidenav-link-divider {
    background-color: #c1c7cd;
    border: 0;
    height: 0.0625rem;
    margin: 0.5625rem 1rem;
  }
}
