@use "../../styles/config" as *;
@use '@carbon/themes/scss/tokens' as theme;

  .#{$prefix}--bmrg-feature-sidenav-link {
    align-items: center;
    border-left: transparent 0.25rem solid;
    color: theme.$text-secondary;
    cursor: pointer;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
    &:focus {
      outline-offset: -0.125rem !important;
      outline: 0.125rem solid theme.$support-success !important;
    }
    &.#{$prefix}--bmrg-feature-sidenav-active-link {
      background-color: theme.$background-selected;
      border-left-color: theme.$support-success;
      color: theme.$text-primary;
      svg {
        fill: initial;
      }
    }
    svg {
      fill: theme.$text-secondary;
      min-width: 1rem;
      min-height: 1rem;
    }
  }
  .#{$prefix}--bmrg-feature-sidenav-link-content {
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }
  .#{$prefix}--bmrg-feature-sidenav-link-divider {
    background-color: #c1c7cd;
    border: 0;
    height: 0.0625rem;
    margin: 0.5625rem 1rem;
  }
