/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
.#{$prefix}--bmrg-text-input {
  align-items: center;
  display: flex;
  position: relative;
}

.#{$prefix}--bmrg-text-input__label {
  display: flex;
}

.#{$prefix}--bmrg-text-input__tooltip {
  line-height: 0;
  margin-left: 0.5rem;

  svg {
    fill: currentColor;
  }
}
