/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/

@use "sass:map";
@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;
@use "../../global/utils";

.#{$prefix}--bmrg-aboutPlatform-container {
  .#{$prefix}--modal-container {
    height: 28.375rem; // Set to desired rem height
    width: 28.4375rem; // Set to desired rem width
  }

  .#{$prefix}--modal-content {
    border-top: 0.0625rem solid var(--cds-border-subtle);
    color: shell.$bmrg-theme-primary;
    height: 100%;
    gap: 50rem;
    mask-image: none !important;
    overflow: hidden;
  }

  .#{$prefix}--modal-header {
    margin-bottom: 1rem;

    h2,
    h3 {
      color: shell.$bmrg-theme-primary;
      height: 1.825rem;
    }

    svg {
      fill: shell.$bmrg-theme-primary;
    }

    .#{$prefix}--modal-header__label.#{$prefix}--type-delta {
      white-space: pre;
    }
  }

  .#{$prefix}--bmrg-aboutPlatform-footer__header {
    //color: shell.$bmrg-theme-secondary;
    margin-bottom: utils.rem(18px);
    margin-top: utils.rem(16px);
    font-size: utils.rem(14px);
    font-weight: 500;
    line-height: utils.rem(18px);
  }

  .#{$prefix}--bmrg-aboutPlatform-images {
    display: flex;
    gap: 2rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-images__img {
    height: 2rem;
    width: auto;
  }

  .#{$prefix}--bmrg-aboutPlatform-component-header {
    color: var(--cds-text-primary);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
    letter-spacing: 0.01rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-ul {
    align-self: stretch;
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-li {
    color: var(--cds-text-primary);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 128.571% */
    letter-spacing: 0.01rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .#{$prefix}--bmrg-aboutPlatform-li-between {
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 0.0625rem solid var(--cds-border-subtle-01);
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    justify-content: center;
    padding: 1rem 1.5rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-li-between-first {
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 0.0625rem solid var(--cds-border-subtle-01);
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    justify-content: center;
    padding: 1rem 0.5rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-li-between-last {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    height: 4.5rem;
    padding: 1rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5rem;
  }
  .#{$prefix}--bmrg-aboutPlatform-li-version {
    color: var(--cds-text-secondary);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.02rem;
  }
}
