/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "sass:map";
@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;
@use "../../global/utils";

.#{$prefix}--bmrg-aboutPlatform-container {
  .#{$prefix}--modal-container {
    height: 28.375rem; // Set to desired rem height
    width: 28.4375rem; // Set to desired rem width
  }

  .#{$prefix}--modal-content {
    color: shell.$bmrg-theme-primary;
    height: 100%;
    border: 1px solid var(--border-subtle-contextual, #C6C6C6);
    gap: 50rem;
    overflow: hidden;
  }

  .#{$prefix}--modal-header {

    h2,
    h3 {
      color: shell.$bmrg-theme-primary;
      height: 1.825rem;
    }

    svg {
      fill: shell.$bmrg-theme-primary;
    }

    .#{$prefix}--modal-header__label.#{$prefix}--type-delta {
      white-space: pre;
    }
  }

  .#{$prefix}--bmrg-aboutPlatform-footer__header {
    //color: shell.$bmrg-theme-secondary;
    margin-bottom: utils.rem(18px);
    margin-top: utils.rem(16px);
    font-family: var(--fixed-utility-legal-0102-font-family, "IBM Plex Sans");
    font-size: utils.rem(14px);
    font-weight: 500;
    line-height: utils.rem(18px);
  }

  .#{$prefix}--bmrg-aboutPlatform-images {
    display: flex;
    gap: 2rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-images__img {
    height: 2rem;
    width: auto;
  }

  .#{$prefix}--bmrg-aboutPlatform-component-header {
    color: var(--Text-text-primary, #161616);
    font-family: var(--Fixed-Body-Font-family, "IBM Plex Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
    letter-spacing: 0.01rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-ul {
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }

  .#{$prefix}--bmrg-aboutPlatform-li {
    overflow: hidden;
    color: var(--Text-text-primary, #161616);
    text-overflow: ellipsis;
    font-family: var(--Fixed-Heading-Font-family, "IBM Plex Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 128.571% */
    letter-spacing: 0.01rem;
  }

  .#{$prefix}--bmrg-aboutPlatform-li-between {
    display: flex;
    height: 4.5rem;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--Border-border-subtle-01, #C6C6C6);
    background: var(--Layer-layer-02, #FFF);
  }

  .#{$prefix}--bmrg-aboutPlatform-li-between-last {
    display: flex;
    height: 4.5rem;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 0.5rem;
  }
}