@include exports('addons-bmrg-dateInput') {
  .#{$prefix}--bmrg-date-input {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    .bx--date-picker-container {
      width: 100%;
    }
  }

  .#{$prefix}--bmrg-date-input__label {
    display: flex;
  }

  .#{$prefix}--bmrg-date-input__tooltip {
    line-height: 0;
    margin-left: 0.5rem;
  }
}
