@use "../../styles/config" as *;
@use '@carbon/styles/scss/theme';

  .#{$prefix}--bmrg-date-input {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    .bx--date-picker-container {
      width: 100%;
    }

    input[readonly] {
      background-color: theme.$layer-01;
      color: theme.$text-primary;
    }
  }

  .#{$prefix}--bmrg-date-input__label {
    display: flex;
    font-size: 0.75rem;
  }

  .#{$prefix}--bmrg-date-input__tooltip {
    line-height: 0;
    margin-left: 0.5rem;
  }

