/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
@use '@carbon/themes/scss/tokens' as theme;

.#{$prefix}--bmrg-date-input {
  .#{$prefix}--bmrg-date-picker {
    display: flex;
    position: relative;
    width: 100%;

    .#{$prefix}--date-picker-container {
      width: 100%;
    }

    input[readonly] {
      background-color: theme.$layer-01;
      color: theme.$text-primary;
    }
  }

  .#{$prefix}--bmrg-date-input__label {
    display: flex;
    font-size: 0.75rem;
  }

  .#{$prefix}--bmrg-date-input__tooltip {
    line-height: 0;
    margin-left: 0.5rem;
  }
}
