@include exports('addons-bmrg-errorBoundaryPoc') {
  .#{$prefix}--bmrg-error-boundary-poc {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .#{$prefix}--bmrg-error-boundary-poc-restore {
    
    margin-top: 2rem;
  }
}
