/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
@use '@carbon/themes/scss/tokens' as theme;
@use "../../global/utils";
@use "../../global/themes/shell-tokens" as shell;

.#{$prefix}--bmrg-header-switcher-panel {
  overflow-y: auto;
}

.#{$prefix}--bmrg-header-switcher {
  background: shell.$bmrg-theme-background;
  height: 100%;
  padding: 1rem 0;

  &.--is-loading {
    padding: 1rem;
  }

  &.--is-hidden {
    display: none;
  }

  &.--is-empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 1rem;
      font-weight: 300;
    }
    p {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 0.9375rem;
    }
  }
}

.#{$prefix}--bmrg-header-switcher__skeleton {
  background-color: shell.$bmrg-theme-loading-01 !important;
  height: 2rem;
  
  &::before {
    background-color: shell.$bmrg-theme-loading-02 !important;
  }
}

.#{$prefix}--side-nav__submenu:disabled {
  cursor: not-allowed;
  color: theme.$text-disabled;
  &:hover {
    background-color: initial;
    color: theme.$text-disabled;
  }
  > span {
    margin-right: 1rem;
  }
}

.#{$prefix}--bmrg-header-team {
  position: relative;

  &.--is-loading {
    .#{$prefix}--side-nav__icon {
      visibility: hidden;
    }
  }

  .#{$prefix}--inline-loading {
    min-height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: fit-content;
  }

  .#{$prefix}--side-nav__link {
    gap: 0.5rem;
    justify-content: space-between;
    svg, path {
      fill: shell.$bmrg-theme-primary !important;
      min-width: 1rem;
    }
  }

  .#{$prefix}--side-nav__link-text {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
    > span {
      @include utils.text-overflow-ellipsis();
    }
  }
}

.#{$prefix}--bmrg-header-team__service {
  display: flex;
  justify-content: space-between;
}

.#{$prefix}--bmrg-header-team__message {
  color: theme.$text-secondary;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  padding: 0.5rem 2rem 1rem;
}
