@use "@carbon/react/scss/motion";
@use "../../global/config" as *;
@use "../../global/utils";
@use "../../global/themes/shell-tokens" as shell;
@use '@carbon/themes/scss/tokens' as theme;

// Necessary for the Boomerang theme to work
:root {
  .#{$prefix}--header {
    background: shell.$bmrg-primary !important;

    // Background overrides
    .#{$prefix}--side-nav,
    .#{$prefix}--header-panel {
      background: shell.$bmrg-primary !important;
    }

    .#{$prefix}--header__action {
      border-radius: 0 !important;
    }

    .#{$prefix}--header__menu-item--current::after {
      border-bottom-color: shell.$bmrg-accent;
    }

    // Global action buttion
    .#{$prefix}--header__action--active {
      background-color: shell.$bmrg-header-hover-background;
    }

    // Side nav overrides
    .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu[aria-expanded="false"]::before {
      background-color: shell.$bmrg-accent;
    }

    .#{$prefix}--side-nav__link--current::before {
      background-color: shell.$bmrg-accent;
    }
  }
}

a.cds--header__menu-item {
  background: shell.$bmrg-primary;
}
