/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use '@carbon/themes/scss/tokens' as theme;
@use "@carbon/react/scss/motion";
@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;

.#{$prefix}--header__action[aria-expanded="true"] {
  background: shell.$bmrg-header-menu-options-top-border;
  svg {
    fill: var(--cds-text-on-color, #ffffff) !important;
  }
}

.#{$prefix}--bmrg-header-drop-down {
  animation: fade-in motion.$duration-moderate-01 motion.motion("standard");
  background: shell.$bmrg-tertiary;
  border-top: 0.375rem solid shell.$bmrg-header-menu-options-top-border;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15rem;
}
