@use "@carbon/react/scss/motion";
@use "../../global/config" as *;
@use "../../global/utils";
@use "../../global/themes/shell-tokens" as shell;

// Necessary for the Boomerang theme to work
:root {
  .#{$prefix}--header {
    background: shell.$bmrg-theme-background !important;
    border-block-end-color: shell.$bmrg-theme-border;

    .#{$prefix}--header__name {
      color: shell.$bmrg-theme-primary;
    }

    .#{$prefix}--header__action {
      svg, path {
        fill: shell.$bmrg-theme-primary !important;
      }
    }

    // Background overrides
    .#{$prefix}--side-nav,
    .#{$prefix}--header-panel {
      background: shell.$bmrg-theme-background !important;
    }

    .#{$prefix}--header__action {
      border-radius: 0 !important;
    }
    .#{$prefix}--header__action[aria-expanded=true] {
      background-color: shell.$bmrg-theme-active-icon;
    }

    .#{$prefix}--header__menu-item--current::after {
      background-color: shell.$bmrg-accent;
    }

    // Global action buttion
    .#{$prefix}--header__action--active {
      background-color: shell.$bmrg-theme-active;
    }

    // Side nav overrides
    .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu[aria-expanded="false"]::before {
      background-color: shell.$bmrg-accent;
    }

    .#{$prefix}--header__nav::before {
      background-color: shell.$bmrg-theme-border;
    }

    .#{$prefix}--side-nav__link--current::before {
      background-color: shell.$bmrg-accent;
    }
    .#{$prefix}--bmrg-header-drop-down {
      background: shell.$bmrg-theme-background;
      border-top: shell.$bmrg-theme-menu-border;

      a.#{$prefix}--header__menu-item {
        color: shell.$bmrg-theme-primary!important;
        background-color: shell.$bmrg-theme-menu-background!important;
        &:hover{
          color: shell.$bmrg-theme-primary !important;
          background-color: shell.$bmrg-theme-menu-hover !important;
        }
        span {
          color: shell.$bmrg-theme-primary!important;
          svg, path {
            fill: shell.$bmrg-theme-primary !important;
          }
        }
      }
    }

    // span, p, a, div {
    //   color: shell.$bmrg-theme-primary;
    //   &:hover {
    //     color: shell.$bmrg-theme-primary !important;
    //   }
    // }
  }
}

.#{$prefix}--side-nav__item {
  a.#{$prefix}--header__menu-item {
    color: shell.$bmrg-theme-primary!important;
    // background-color: shell.$bmrg-theme-background;
    &:hover{
      color: shell.$bmrg-theme-primary !important;
    }
  }
}

a.#{$prefix}--header__menu-item {
  color: shell.$bmrg-theme-primary!important;
  background-color: shell.$bmrg-theme-background!important;
  &:hover{
    color: shell.$bmrg-theme-primary !important;
    background-color: shell.$bmrg-theme-active !important;
  }
}

span.#{$prefix}--side-nav__link-text {
  color: shell.$bmrg-theme-secondary !important;
  &:hover{
    color: shell.$bmrg-theme-primary !important;
  }
}

