@use "@carbon/styles/scss/motion";
@use "../../styles/config" as *;
@use "../../styles/themes/addons";

.#{$prefix}--bmrg-header-drop-down {
  animation: fade-in motion.motion("standard");
  background: addons.$tertiary-color;
  border-top: 0.375rem solid addons.$header-menu-options-accent-color;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
}

.#{$prefix}--bmrg-header-drop-down__item {
  color: addons.$secondary-color;
  width: 100%;

  &:hover {
    background: addons.$header-hover-background-color;
  }

  a {
    color: addons.$secondary-color;
    text-decoration: none;
  }
}
