@use '@carbon/themes/scss/tokens' as theme;
@use '../../global/themes/shell-tokens' as shell;
@use "../../global/config" as *;

.#{$prefix}--bmrg-requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3rem;
}

.#{$prefix}--bmrg-requests__title {
  color: shell.$bmrg-header-active-text;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  margin-left: 1rem;

  &.#{$prefix}--bmrg-requests-empty__title {
    font-weight: initial;
  }
}

.#{$prefix}--bmrg-requests__text {
  color: shell.$bmrg-header-active-text;
  font-size: 0.825rem;
  line-height: 1.125rem;
  margin-left: 1rem;
}
