@use "../../global/config" as *;
@use '@carbon/themes/scss/tokens' as theme;

.#{$prefix}--bmrg-toastify-container {
  .Toastify__toast {
    background: theme.$background-inverse !important;
    border-radius: var(--cds-border-radius, 0);
    padding: 0 !important;
    & > svg {
      fill: theme.$text-inverse;
      margin-top: 1.375rem;
      margin-right: 1rem;
    }
  }

  .Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .Toastify__toast-container {
    height: auto !important;
    width: auto !important;
  }
}

.Toastify--animate {
  animation-duration: 0.5s !important;
}

.#{$prefix}--bmrg-toast-notification-container {
  .#{$prefix}--toast-notification {
    background: theme.$background-inverse;
    box-shadow: none;
    height: 100%;
    margin-bottom: 0;
    max-width: 24rem;
    width: 100%;
  }

  .#{$prefix}--toast-notification__icon {
    margin-top: 1.375rem;
  }

  .#{$prefix}--toast-notification:first-child {
    margin-top: 0;
  }
  .#{$prefix}--toast-notification__subtitle,
  .#{$prefix}--toast-notification__title {
    color: theme.$text-inverse;
  }
}
