/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
@use "../../global/utils";
@use "../../global/themes/shell-tokens" as shell;

.#{$prefix}--bmrg-feedback-container {
  .#{$prefix}--modal-container {
    height: 22rem;
  }

  .#{$prefix}--modal-content {
    mask-image: none !important;
  }

  .#{$prefix}--bmrg-feedback {
    color: shell.$bmrg-theme-primary;
    margin-top: utils.rem(16px);
    width: 100%;

    a {
      color: shell.$bmrg-header-modal-link;
    }

    p {
      margin-bottom: 1rem;
    }

    &__error {
      color: #fb4b53;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.125rem;
      margin-top: utils.rem(4px);
      position: absolute;
    }

    .#{$prefix}--label {
      color: shell.$bmrg-brand-white;
      font-size: utils.rem(14px);
      font-weight: 500;
      line-height: utils.rem(18px);
    }
  }
}
