@include exports('addons-bmrg-feedback') {
  .#{$prefix}--bmrg-feedback-container {
    .#{$prefix}--modal-container {
      height: rem(448px);
    }

    .#{$prefix}--bmrg-feedback {
      color: $bmrg-brand-white;
      height: rem(100px);
      margin-top: rem(16px);
      width: 100%;

      a {
        color: $bmrg-header-modal-link-color;
      }

      p {
        margin-bottom: 1rem;
      }

      &__error {
        color: #fb4b53;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin-top: rem(4px);
        position: absolute;
      }

      .#{$prefix}--label {
        color: $bmrg-brand-white;
        font-size: rem(14px);
        font-weight: 500;
        line-height: rem(18px);
      }
    }
  }
}
