@include exports('addons-bmrg-featureNavTab') {
  .#{$prefix}--bmrg-feature-nav-tab {
    border-bottom: 0.125rem solid #b9bfc7;
    color: $icon-02;
    font-size: 0.875rem;
    letter-spacing: 00.01rem;
    line-height: 1.125rem;
    padding: 0 1.75rem 0.625rem;
    text-decoration: none;
    transition: border-bottom $carbon-motion--timing--productive $carbon-motion--easing--productive,
      color $carbon-motion--timing--productive $carbon-motion--easing--productive;

    &:hover {
      border-bottom: 0.125rem solid #5d6168;
      color: $text-01;
    }
  }

  .#{$prefix}--bmrg-feature-nav-tab--active {
    border-bottom: 0.125rem solid $support-02;
    color: $text-01;
    font-weight: 600;

    &:hover {
      border-bottom: 0.125rem solid $support-02;
    }
  }

  .#{$prefix}--bmrg-feature-nav-tab--loading {
    border-bottom: 0.125rem solid #b9bfc7;
    padding: 0 1.75rem 0.625rem;
  }

  .#{$prefix}--bmrg-feature-nav-tab--loading__skeleton {
    height: 0.875rem;
    width: 7rem;
  }
}
