@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;
@use "@carbon/react/scss/motion";
@use '@carbon/themes/scss/tokens' as theme;

.#{$prefix}--bmrg-feature-nav-tab--loading {
  align-items: center;
  border-bottom: 2px solid theme.$skeleton-element;
  display: flex;
  padding: 0 1.75rem;
}

.#{$prefix}--bmrg-feature-nav-tab--loading__skeleton {
  height: 0.875rem;
  width: 7rem;
}

.#{$prefix}--bmrg-feature-nav-tab--tab {
  padding: .75rem 1rem .5rem !important;
}
