@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;

.#{$prefix}--sidenav__items { 
  &:hover {
    .#{$prefix}--bmrg-advantage-sidenav-submenu {
      visibility: visible !important;
    }
  }
}

.#{$prefix}--side-nav__overlay-active{
  background-color: transparent;
}

.#{$prefix}--bmrg-advantage-sidenav-container {
  border-right: 0.0625rem solid shell.$bmrg-theme-border;
  height: calc(100% - 3rem);
  overflow-y: hidden;
  
  &.--isOpen {
    width: 16rem;
  }
  .#{$prefix}--side-nav--ux{
    overflow-y: hidden !important;
  }
  &:hover {
    position: fixed;
  }
  button {
    font-weight: 400;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-menu {
  font-weight: 400;
  .#{$prefix}--side-nav__menu {
    display: flex;
    flex-direction: column;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-submenu {
  visibility: hidden;

  &.--open{
    visibility: visible !important;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-submenu-wrapper {
  left: 16rem;
  margin-top: -2rem;
  position: fixed;

  &:hover{
    ul {
      visibility: visible !important;
    }
  }
}

.#{$prefix}--bmrg-advantage-sidenav-services-submenu {
  background-color: shell.$bmrg-theme-submenu-background !important;
  max-height: 10rem;
  overflow-x: auto;
  position: relative;

  &:hover{
    visibility: visible !important;
  }

  &>:last-child {
    span {
      border-bottom: none;
    }
  }
}

.#{$prefix}--side-nav__item {
  &:hover{
    +ul {
      visibility: visible !important;
    }
  }

}

.#{$prefix}--bmrg-advantage-sidenav-team {
  padding-inline-start: 1rem !important;
}
.#{$prefix}--bmrg-advantage-sidenav-submenu-link{
  padding-inline-start: 1rem !important;
  width: 12.9375rem;
  span {
    padding: 0.325rem 0;
    border-bottom: 0.0625rem solid shell.$bmrg-theme-border;
  }
}

.#{$prefix}--side-nav__link-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .#{$prefix}--side-nav__icon.#{$prefix}--side-nav__icon--small > svg {
    fill: shell.$bmrg-theme-primary !important;
  }
}
.#{$prefix}--side-nav__submenu-title {
  color: shell.$bmrg-theme-secondary;
  &:hover{
    color: shell.$bmrg-theme-primary;
  }
}
