@use "../../global/config" as *;
@use "../../global/themes/shell-tokens" as shell;

.#{$prefix}--sidenav__items { 
  &:hover {
    .#{$prefix}--bmrg-advantage-sidenav-submenu {
      visibility: visible !important;
    }
  }
}

.#{$prefix}--side-nav__overlay-active{
  background-color: transparent;
}

.#{$prefix}--bmrg-side-nav__tooltip {
  width: 13rem;
  div {
    text-align: center;
  }
}

.#{$prefix}--side-nav__divider{
  background-color: shell.$bmrg-theme-border !important;
}

.#{$prefix}--side-nav__items{
  padding-bottom: 3rem;
}

.#{$prefix}--bmrg-advantage-sidenav-container {
  border-right: 0.0625rem solid shell.$bmrg-theme-border;
  height: calc(100% - 3rem);
  overflow-y: hidden;
  
  &.--closed {
    inline-size: 3rem !important;
  }
  .#{$prefix}--side-nav--ux{
    overflow-y: hidden !important;
  }
  &:hover {
    position: fixed;
  }
  button {
    font-weight: 400;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-no-teams__text{
  color: shell.$bmrg-theme-secondary;
  font-size: 0.875rem;
  padding: 1rem;
  text-align: center;
}

.#{$prefix}--bmrg-advantage-sidenav-menu {
  font-weight: 400;
  .#{$prefix}--side-nav__menu {
    display: flex;
    flex-direction: column;
  }
  &.--active-closed {
    background-color: var(--cds-background-selected);
    position: relative;

    >button::before {
      background-color: var(--cds-border-interactive);
      box-sizing: inherit;
      content: "";
      inline-size: 0.1875rem;
      inset-block-end: 0;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }
  }
}

.#{$prefix}--side-nav__submenu[aria-expanded=true] + .#{$prefix}--side-nav__menu {
  max-block-size: none;
}

.#{$prefix}--bmrg-advantage-sidenav-teams__title {
  display: block;
  font-size: 0.875rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 8.5rem;
}

.#{$prefix}--bmrg-advantage-sidenav-submenu {
  display: block;
  left: 16rem;
  position: fixed;
  right: auto;
  visibility: hidden;
  width: 12.9375rem;
  z-index: 1000;

  &.--open{
    visibility: visible !important;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-submenu-wrapper {
  border: 0;
  float: none;
  margin: 0;
  min-height: 0;
  padding: 0;
  position: relative;

  &:hover{
    ul {
      visibility: visible !important;
    }
  }
}

.#{$prefix}--bmrg-advantage-sidenav-services-submenu {
  background-color: shell.$bmrg-theme-submenu-background !important;
  display: block;
  height: 100%;
  max-height: 20rem;
  overflow-y: auto;
  padding: 0;
  position: static;

  &:hover{
    visibility: visible !important;
  }

  &>:last-child {
    span {
      border-bottom: none;
    }
  }
}

.#{$prefix}--side-nav__item {
  &:hover{
    +ul {
      visibility: visible !important;
    }
  }
}

.#{$prefix}--bmrg-advantage-sidenav-team-item {
  float: left;
  min-height: 35px;
  position: static;
  width: 100%;
}

.#{$prefix}--side-nav__link[disabled]{
  cursor: auto;
  span, span:hover {
    color: shell.$bmrg-theme-disabled !important;
    cursor: auto;
  }
  svg {
    fill: shell.$bmrg-theme-disabled !important;
  }
}

.#{$prefix}--bmrg-advantage-sidenav-team {
  padding-inline-start: 1rem !important;
}

.#{$prefix}--bmrg-advantage-sidenav-account {
  padding-inline-start: 3.5rem !important;
}

.#{$prefix}--bmrg-advantage-sidenav-submenu-link{
  padding-inline-start: 1rem !important;
  width: 12.9375rem;

  .#{$prefix}--side-nav__link-text {
    cursor: pointer;
    display: block;
    font-weight: 400;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 12.9375rem;
  }

  span {
    border-bottom: 0.0625rem solid shell.$bmrg-theme-border;
    padding: 0.325rem 0;
  }
}

.#{$prefix}--side-nav__link-text {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  width: 100%;

  .#{$prefix}--side-nav__icon.#{$prefix}--side-nav__icon--small > svg {
    fill: shell.$bmrg-theme-primary !important;
  }
}

.#{$prefix}--side-nav__submenu-title {
  color: shell.$bmrg-theme-secondary !important;
  &:hover{
    color: shell.$bmrg-theme-primary !important;
  } 
}
