/*
IBM Confidential
694970X, 69497O0
© Copyright IBM Corp. 2022, 2024
*/


@use "../../global/config" as *;
@use '@carbon/themes/scss/tokens' as theme;
@use '@carbon/react/scss/components/button/tokens';

.#{$prefix}--bmrg-auto-suggest {
  width: 100%;

  .react-autosuggest__suggestions-container {
    background-color: theme.$layer-01;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
    color: theme.$text-secondary;
    max-height: 8.75rem;
    overflow-y: auto;
    width: 100%;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    height: 2.5rem;
    letter-spacing: 0.01rem;
    line-height: 1rem;
    overflow: hidden;
    padding: 0.75rem 1rem;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-of-type {
      &:after {
        background-color: transparent;
      }
    }

    &:after {
      background-color: theme.$layer-accent-01;
      bottom: 0;
      content: "";
      height: 0.08rem;
      left: 1rem;
      position: absolute;
      width: calc(100% - 2rem);
    }

    &--highlighted {
      color: tokens.$button-secondary;
      background-color: theme.$background-hover;

      &:after {
        background-color: transparent;
      }
    }
  }
}
