@use "../../global/config" as *;
@use "../../global/utils";

.#{$prefix}--bmrg-avatar {
  border-radius: 50%;

  &.--small {
    height: utils.rem(16px);
    width: utils.rem(16px);
    min-height: utils.rem(16px);
    min-width: utils.rem(16px);
  }
  &.--medium {
    height: utils.rem(32px);
    width: utils.rem(32px);
    min-height: utils.rem(32px);
    min-width: utils.rem(32px);
  }
  &.--large {
    height: utils.rem(64px);
    width: utils.rem(64px);
    min-height: utils.rem(64px);
    min-width: utils.rem(64px);
  }
}
