@use '@carbon/react/scss/components/button/tokens';
@use '@carbon/themes/scss/tokens' as theme;
@use "../../global/config" as *;
@use "../../global/utils";

.#{$prefix}--bmrg-error-page-core {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  // margin: utils.rem(80px) auto;
  padding: 0 utils.rem(32px);
  position: relative;
  width: 100%;
  height: 100%;
}

.#{$prefix}--bmrg-error-page-core__background {
  height: auto;
  width: auto;
  max-height: 100vh;
}

.#{$prefix}--bmrg-error-page-core__content {
  margin-top: utils.rem(80px);
  position: absolute;
  top: 0;
}

.#{$prefix}--bmrg-error-page-core__header {
  color: tokens.$button-danger-primary;
  font-size: utils.rem(36px);
  line-height: utils.rem(46px);
  font-weight: 600;
  line-height: 42px;
  margin-bottom: utils.rem(10px);
}

.#{$prefix}--bmrg-error-page-core__title {
  color: theme.$text-primary;
  font-size: utils.rem(20px);
  font-weight: 600;
  line-height: utils.rem(25px);
  margin-bottom: utils.rem(16px);
  max-width: 30.5rem;
}

.#{$prefix}--bmrg-error-page-core__message {
  color: theme.$text-secondary;
  font-size: utils.rem(16px);
  line-height: utils.rem(20px);
  max-width: 30rem;

  a {
    color: theme.$background-brand;
    font-weight: 600;
    text-decoration: none;
  }
}

@media (max-width: utils.rem(768px)) {
  .#{$prefix}--bmrg-error-page-core__background {
    display: none;
  }

  .#{$prefix}--bmrg-error-page-core__content {
    position: relative;
  }
}
