@mixin text-overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multiline-text-overflow-ellipsis($lineClamp: 2, $orient: vertical) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: $orient;
  -webkit-line-clamp: $lineClamp;
}

@mixin border-radius() {
  border-radius: 0.25rem;
}

@mixin focus-outline($color: var(--cds-interactive-01), $offset: 0.125rem) {
  outline: 0.125rem solid $color;
  outline-offset: $offset;
}

@mixin button-reset() {
  background: none;
  border: none;
  padding: 0;
  line-height: 0;
}
